---
const { to, from } = Astro.props;
import backgroundImage from "../images/front_background.png";
import giftIcon from "../images/GiftTab.svg";
import { getImage } from "astro:assets";
const optimizedBackgroundImage = await getImage({ src: backgroundImage });
const optimizedgiftIcon = await getImage({ src: giftIcon });
---

<div class="card">
    <div class="card__inner">
        <div
            class="card__face card__face--front"
            style={`background-image: linear-gradient(to right,
                rgba(249, 249, 249, 0) 10%,
                rgba(249, 249, 249, 0.90) 60%),
                url('${optimizedBackgroundImage.src}')`}
        >
            <div class="card__content">
                <div class="card__header">
                    Thank you {to}!!
                </div>
            </div>
        </div>
        <div class="card__face card__face--back">
            <div class="card__content">
                <div class="card__body">
                    <p>
                        Thank you so so soosososo much for blessing us with your design expertise
                        for Pororank. We seriously appreciate the time and effort you put in to
                        build such an incredible and thorough design. Please accept this small
                        gift from us as a token of our appreciation =D                </p><br />
                    <span>
                        From: {from}
                    </span>
                    <div class="card__footer">
                        <a
                            target="_blank"
                            href="https://www.amazon.com/gp/r.html?C=23J4QFP74FONO&M=urn:rtn:msg:2023111900052046429b5bf67e4890916cdd1cca50p0na&R=M51E2D9CA5BM&T=C&U=https%3A%2F%2Fwww.amazon.com%2Fg%2F77J2HWRBFYNH9L%3Fref_%3Dpe_906650_284786740&H=1NQSHIDCTCMMJAYUQIF7BJT8PQ0A&ref_=pe_906650_284786740"
                        >
                            <div class="gift__banner"
                            style={`background-image: url('${optimizedgiftIcon.src}')`}></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const card = document.querySelector(".card__inner");

    card!.addEventListener("click", function (e) {
        card!.classList.toggle("is-flipped");
    });
</script>